/* education.css */
.education {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.education label {
  margin-bottom: 5px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.education input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
