/* header.css */
.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.header label {
  margin-bottom: 5px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.header input {
  width: 100%; /* Take up the full width of the container */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
